{{> header}}
{{> nav}}

<div class="boxcontainer">
    <div class="box" style="height: 65%; width: 50%">
        <h1>Tambah Kota</h1>
        <form id="edit-form" action="/addkota" method="post" enctype="multipart/form-data">
            <div class="left">
                <div class="file-input-group text-start">
                    <div id="preview-thumbnail"></div>
                    <input type="file" hidden id="file" name="image" onchange="handleChange()" />
                    <label id="attach" for="file"><i class="fas fa-paperclip"></i> Masukkan Foto</label>
                </div>
            </div>
            <div class="right">
                <label for="name">Nama Kota</label>
                <input type="text" id="name" name="name" />
                <label for="date">Diresmikan</label>
                <input type="date" id="date" name="date" />
                <label for="provinsi">Provinsi</label>
                <input type="number" name="provinsi" id="provinsi">
            </div>
        </form>
        <div class="button">
            <button id="btn-update" form="edit-form" type="submit">Tambah Kota</button>
            <button id="btn-cancel" onclick="window.location.href='/kota'">
                Kembali
            </button>
        </div>
    </div>
</div>

<script>
    function handleChange() {
        let previewElement = document.getElementById('preview-thumbnail')
        const value = URL.createObjectURL(event.target.files[0])
        previewElement.innerHTML = `<img src="${value}" style="max-width:250px; max-height: 250px;" />`
    }
</script>

{{> footer}}